@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%;
  width: 100%;
  background-color: #0A0C1B;
}

.font-fam{
  /* font-family: "Inter", sans-serif; */
  font-family: "Lexend Deca", sans-serif;
}
.font-fam-p{
    font-family: "Inter", sans-serif; 
}